
.body {
    margin-left: 80px;
    padding: 20px 40px;
    background-color: #fdfaf9;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 75% 25%;
    row-gap: 15px;
    column-gap: 15px;
}

.option-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 8px;
    color: #c7c6c5;
}

.option-list > li > button {
    all: unset;
    margin: 10px;
    font-size: small;
    cursor: pointer;
}

.option-list > li > button.selected {
    color: #285e95;
    text-decoration: underline;
    font-weight: bolder;
}

.main {
    /* width: 75%; */
    /* display: inline-block; */

}

@media screen and (max-width: 1032px) {
    .main {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .secondary {
        grid-column-start: 1;
        grid-column-end: 3;
        max-width: 350px;
    }
    .secondary .card {
        overflow: auto;
    }
    .info-cards .card {
        height: 132px !important;
    }
}

.secondary {
    /* width: 25%; */
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.secondary>*:first-child {
    margin: 24px 0;
}

.stats {
    position: relative;
    display: flex;
    color: #616161;
}

.stat-heading {
    display: inline-block;
    margin-bottom: 10px;
}

.overall-call-stats {
    width: 50%;
    display: inline-block;
}

/* .overall-call-stats .card {

} */
.followup-call-stats {
    width: 50%;
    display: inline-block;
}

.info-cards {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.info-cards li {
    margin: 5px 0;
}

.search {
    margin: 20px 0;
}

.search>span {
    color: #0c2765;
    font-weight: bold;
    display: block;
}

#inputSearch {
    border: 1px solid #555;
    border-radius: 5px;
    margin-right: 10px;
    width: 80%;
    padding: 4px 4px 4px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

#inputSearch:focus-visible {
    outline: 1px solid #0c2765;
}

#searchBtn {
    background-color: #0c2765;
    color: white;
    padding: 4px 15px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.info-cards .card {
    padding-top: 5px;
}

.overall-call-stats .left-border {
    border-left: 5px solid #ef9a9a;
}

.left-border {
    /* border-left: 5px solid #ef9a9a; */
    margin: 15px 15px 5px 15px;
    height: 50%;
    color: #343434;
    font-size: small;
    font-weight: bolder;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stat-count {
    font-size: x-large;
    color: #0c2765;
    width: 100%;
}

.stat-unit {
    font-size: small;
    color: #005bd3;
    padding-left: 5px;
}

.card-heading {
    text-wrap: pretty;
    width: 100%;
}

.card-text {
    margin: 0 25px;
    padding-bottom: 10px;
    font-size: small;
}

.opportunity-list {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.opportunity-icon {
    width: 24px;
    border-radius: 4px;
    display: inline-block;
}

.opportunity-list .opportunity-heading {
    color: #1c1c1c;
    display: block;
    font-size: smaller;
}

.opportunity-list .opportunity-time {
    color: #a4a4a4;
    font-size: x-small;
}

.opportunity-list li {
    display: grid;
    grid-template-columns: 32px 1fr;
    place-items: center flex-start;
}

.freq-opp span {
    display: inline-block;
}

.freq-opp-body {
    padding: 0 20px;
}

.freq-opp-head {
    background-color: #07215d;
    line-height: 25px;
    padding: 20px 20px 5px 20px;
}

.freq-opp-time {
    color: #9da8c1;
    font-size: x-small;
}

.freq-opp-title {
    margin: 10px 0;
}

.freq-opp-desc {
    font-size: small;
    color: #ced3e0;
    margin: 10px 0;
}

.freq-opp-button {
    display: block;
    margin: 15px 0 25px 0;
    color: white;
    background-color: #ff5151;
    width: 132px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}


