
.body {
    margin-left: 80px;
    padding: 20px 40px;
    background-color: #fdfaf9;
    min-height: 100vh;
}

.option-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 8px;
    color: #c7c6c5;
}

.option-list > li > button {
    all: unset;
    margin: 10px;
    font-size: small;
    cursor: pointer;
}

.option-list > li > button.selected {
    color: #285e95;
    text-decoration: underline;
    font-weight: bolder;
}

.main {
    width: 75%;
    display: inline-block;
}

.secondary {
    width: 25%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.secondary :first-child {
    margin: 24px 0;
}

.stats {
    position: relative;
    color: #616161;
}

.stats span {
    display: inline-block;
    margin-bottom: 10px;
}

.overall-call-stats {
    width: 50%;
    display: inline-block;
}

/* .overall-call-stats .card {

} */
.followup-call-stats {
    width: 50%;
    display: inline-block;
}

.info-cards {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.search {
    margin: 20px 0;
}

.search>span {
    color: #0c2765;
    font-weight: bold;
    display: block;
}

#inputSearch {
    border: 1px solid #555;
    border-radius: 5px;
    margin-right: 10px;
    width: 80%;
    padding: 4px 4px 4px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

#inputSearch:focus-visible {
    outline: 1px solid #0c2765;
}

#searchBtn {
    background-color: #0c2765;
    color: white;
    padding: 4px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}